.footer {
    background-color: $navy-color;
    width: 100vw;
    padding-bottom: 60px;
    // Flexbox
    display: flex;
    flex-direction: column;
    align-items: center;

    @media  screen and (min-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }
   
    &_toplink {
        background-color: $white-color;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        // Flexbox
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        transition: transform 250ms;
    }

    &_toplink:hover {
        transform: translateY(-30px);
    }

    .nav {
        padding-top: 20px;
        // Flexbox
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        
        @media  screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items:flex-start;
        }

        @media  screen and (min-width: 1280px) {
            padding-left: 370px;
            padding-right: 370px;
        }
    
        &_links {
            font-family: $text-font;
            font-size: 16px;
            line-height: 2rem;
            text-align: center;

            &-url {
                text-decoration: none;
                color: $white-color;
            }  

            @media  screen and (min-width: 768px) {
                text-align: left;
                width: 210px;
            }
        }
    
        &_rrss {
            font-family: $text-font;
            font-size: 16px;
            line-height: 2rem;
            text-align: center;

            &-url {
                text-decoration: none;
                color: $white-color;
            }

            @media  screen and (min-width: 768px) {
                text-align: left;
                width: 210px;
            }
        }
        
        &_copy {
            font-family: $text-font;
            color: $white-color;
            font-size: 14px;
            line-height: 2rem;
            text-align: center;

            &-love {
                display: flex;
                gap: 5px;
            }
    
            @media  screen and (min-width: 768px) {
                order: -1;
                text-align: left;
                width: 210px;
            }
        }
    }

    .fa-heart {
        color: $orange-color;
    }
}