.purchase {
    background-color: $iceblue-color;
    // Grid
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 120px 120px 120px 80px;
    align-items: center;
    justify-items: center;
    padding-bottom: 30px;

    @media  screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 120px 120px 120px;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media  screen and (min-width: 1280px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    &_article {
        text-align: center;
        padding-left: 70px;
        padding-right: 70px;

        @media  screen and (min-width: 768px) {
            padding-left: 15px;
            padding-right: 15px;
        }

        @media  screen and (min-width: 1280px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        &-title {
            font-family: $title-font;
            font-weight: bold;
            font-size: 18px;
            line-height: 2rem;

            @media  screen and (min-width: 768px) {
                font-size: 24px;
            }
        }

        &-text {
            font-size: 18px;
            line-height: 2rem;

            @media  screen and (min-width: 768px) {
                font-size: 20px;
            }
        }
    }

    &_title {
        font-family: $title-font;
        font-weight: bold;
        font-size: 24px;

        @media  screen and (min-width: 768px) {
            grid-column: 1 / 4;
            font-size: 26px;
        }

        @media  screen and (min-width: 1280px) {
            font-size: 32px;
        }
    }

    &_link {
        color: $white-color;
        background-color: $orange-color;
        font-size: 20px;
        font-weight: 400;
        width: 184px;
        height: 45px;
        padding: 10px 25px;
        border-radius: 30px;
        text-decoration: none;
        text-align: center;

        @media  screen and (min-width: 768px) {
            grid-column: 1 / 4;
            width: 210px;
        }
        @media  screen and (min-width: 1280px) {
            width: 255px;
        }
    }
}
