.titleProxy {
    background-image: url("../images/cover.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: none;
    width: 100vw;
    height: 100dvh;
    padding-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
    // Flexbox
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    

    & h1 {
        font-family: $title-font;
        font-size: 42px;
        font-weight: bold;
        line-height: 55px;
        text-align: center;
        color: $white-color;
    }

    & h3 {
        font-family: $text-font;
        font-size: 16px;
        font-weight: normal;
        color: $white-color;
        line-height: 1.2;
        text-align: center;
    }

.titleArrow {
    background-color: $white-color;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    // Flexbox
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &_icon {
        width: 45%;
        height: 45%;
    }
}
    
}

    
    