.purchase {
    background-color: $iceblue-color;
    // Flexbox
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 57px;
    padding-bottom: 60px;

    &_title {
        font-family: $title-font;
        font-weight: bold;
        font-size: 24px;
        padding-top: 30px;

        @media  screen and (min-width: 768px) {
            font-size: 26px;
            padding-top: 36px;
        }

        @media  screen and (min-width: 1280px) {
            font-size: 32px;
            padding-top: 61px;
        }
    }
    
    &_article {
        text-align: center;
        padding-left: 70px;
        padding-right: 70px;
        // Grid
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px 100px;
        gap: 44px;
        
        @media  screen and (min-width: 768px) {
            padding-left: 40px;
            padding-right: 40px;
            // Grid
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            align-items: start;
            align-content: center;
            gap: 27px;
        }

        @media  screen and (min-width: 1280px) {
            padding-left: 85px;
            padding-right: 85px;
            gap: 20px;
        }

        &-title {
            font-family: $title-font;
            font-weight: bold;
            font-size: 18px;
            line-height: 2rem;

            @media  screen and (min-width: 768px) {
                font-size: 24px;
                padding-bottom: 18px;
            }
        }

        &-text {
            font-size: 18px;
            line-height: 2rem;

            @media  screen and (min-width: 768px) {
                font-size: 20px;
            }
        }
    }

    &_link {
        background-color: $orange-color;
        width: 184px;
        height: 45px;
        padding: 10px 25px;
        border-radius: 22.5px;
        text-align: center;
        align-content: center;
        

        &-more {
            color: $white-color;
            text-decoration: none;
            font-size: 20px;
            font-weight: 400;
        }
        
        @media  screen and (min-width: 768px) {
            grid-column: 1 / 4;
            width: 210px;
        }
        @media  screen and (min-width: 1280px) {
            width: 255px;
        }
    }

    &_link:hover {
        transform: perspective(1000px) rotateX(360deg);
        transition: transform 1s ease 0s;
    }
}
