<footer class="footer">
    <a href="#" class="footer_toplink">
        <img src="/images/ico-arrow.svg" alt="icon arrow" class="footer_toplink-icon">
    </a>
        <ul class="footer_links">
            <li>ARTICLES</li>
            <li>BOOKS</li>
            <li>EVENTS</li>
            <li>REASONS</li>
            <li>TIPS</li>
        </ul>
        <ul class="footer_rrss">
            <li>TWITTER</li>
            <li>INSTAGRAM</li>
            <li>MASTODON.SOCIAL</li>
        </ul>
    <div class="footer_copy">
        <p>©2022</p>
        <div class="footer_copy-love">
            <p>we</p>
            <!-- <font face='Zapf Dingbats BT'>&#10084;</font> -->
            <span>
                <i class="fa-sharp fa-solid fa-heart"></i>
            </span>
            <p>components</p>
        </div>
    </div>
    
</footer>