<footer class="footer">
    <a href="#proxy" class="footer_toplink">
        <img
            src="/images/ico-arrow.svg"
            alt="icon arrow"
            class="footer_toplink-icon"
        />
    </a>
    <nav class="nav">
        <ul class="nav_links">
            <li>
                <a href="https://adalab.es/" class="nav_links-url">ARTICLES</a>
            </li>
            <li>
                <a href="https://adalab.es/" class="nav_links-url">BOOKS</a>
            </li>
            <li>
                <a href="https://adalab.es/" class="nav_links-url">EVENTS</a>
            </li>
            <li>
                <a href="https://adalab.es/" class="nav_links-url">REASONS</a>
            </li>
            <li>
                <a href="https://adalab.es/" class="nav_links-url">TIPS</a>
            </li>
        </ul>
        <ul class="nav_rrss">
            <li>
                <a href="https://adalab.es/" class="nav_rrss-url">TWITTER</a>
            </li>
            <li>
                <a href="https://adalab.es/" class="nav_rrss-url">INSTAGRAM</a>
            </li>
            <li>
                <a href="https://adalab.es/" class="nav_rrss-url">MASTODON.SOCIAL</a>
            </li>
        </ul>
        <div class="nav_copy">
            <p>©2022</p>
            <div class="nav_copy-love">
                <p>we</p>
                <span>
                    <i class="fa-sharp fa-solid fa-heart"></i>
                </span>
                <p>components</p>
            </div>
        </div>
    </nav> 
</footer>