<section class="purchase" id="purchase">
    <h2 class="purchase_title">3 Reasons To Purchase</h2>
    <div class="purchase_article">
        <article>
            <h3 class="purchase_article-title">
                Ut sed metus
            </h3>
            <p class="purchase_article-text">
                Lorem ipsum dolor sit amet, consecteur.
            </p>
        </article>
        <article>
            <h3 class="purchase_article-title">
                Curabitur ac erat
            </h3>
            <p class="purchase_article-text">
                Mauris mattis urna quis lorem molestie.
            </p>
        </article>
        <article>
            <h3 class="purchase_article-title">
                Morbi dictum
            </h3>
            <p class="purchase_article-text">
                Aliquam in dolor et dolor tincidunt.
            </p>
        </article>
    </div>
    <div class="purchase_link">
        <a
            href="https://adalab.es/"
            target="_blank"
            class="purchase_link-more">
            More reasons
        </a>
    </div> 
</section>